<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaxOfficeApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TaxOfficeApplication.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-A21C8H3\SQL2017;Initial Catalog=TaxOffice;Persist Security Info=True;User ID=sa;Password=997"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <TaxOfficeApplication.Properties.Settings>
            <setting name="AppTitle" serializeAs="String">
                <value>Control Tax  Office</value>
            </setting>
        </TaxOfficeApplication.Properties.Settings>
    </applicationSettings>
</configuration>